
.list_link {
	COLOR: #8d1c1c; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.matrix {
	FONT-SIZE: 12px
; text-decoration: none
}
.matrix A {
	COLOR: #93393a
}
.matrix_sub {
	BACKGROUND-COLOR: #f7f7f7; BACKGROUND-IMAGE: url(_images/botton2.gif); BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: 0px; COLOR: #000000; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 1px
}
.matrix_header {
	BACKGROUND-COLOR: #ffffff; BACKGROUND-IMAGE: url(_images/botton2.gif); BORDER-BOTTOM: #838383 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; COLOR: #00469e; PADDING-BOTTOM: 6px; PADDING-LEFT: 5px; PADDING-TOP: 6px
}
.matrix_info {
	BACKGROUND-COLOR: #f7f7f7; BORDER-BOTTOM: #eae9e9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.matrix_info_header {
	BACKGROUND-COLOR: #ebeaea; BORDER-BOTTOM: #eae9e9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.matrix_content {
	BACKGROUND-COLOR: #ffffff; COLOR: #353535
}
.matrix_left {
	BORDER-LEFT: #c9c9c9 1px solid
}
.home_box {
	BORDER-LEFT: #d8d8d8 1px solid
}
.mtDropdownMenu {
	LEFT: -1000px; OVERFLOW: hidden; POSITION: absolute; TOP: -1000px
}
.mtDropdownMenu .content {
	POSITION: absolute
}
.mtDropdownMenu .items {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; LEFT: 0px; POSITION: relative; TOP: 0px; Z-INDEX: 2
}
.top .items {
	BORDER-TOP: medium none
}
.mtDropdownMenu .item {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; COLOR: #4a4b4b; CURSOR: hand; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.mtDropdownMenu .background {
	FILTER: alpha(opacity=85); LEFT: 0px; POSITION: absolute; TOP: 0px; Z-INDEX: 1; moz-opacity: .8
}
.mtDropdownMenu .shadowRight {
	FILTER: alpha(opacity=40); POSITION: absolute; TOP: 3px; WIDTH: 2px; Z-INDEX: 3; moz-opacity: .4
}
.mtDropdownMenu .shadowBottom {
	FILTER: alpha(opacity=40); HEIGHT: 2px; LEFT: 3px; POSITION: absolute; Z-INDEX: 1; moz-opacity: .4
}
.mtDropdownMenu .hover {
	BACKGROUND: #ffffff; COLOR: #8d1c1c
}
.mtDropdownMenu .item IMG {
	MARGIN-LEFT: 12px
}
