<div align="center">
  <div class="main">
  <div class="all">
 <div class="right">
  <div class="articles">
  <div class="node">
  <div class="name">Home » Contact Support  </div>
  </div>
  <div class="content">
  <div class="title"><%= @supports.first.title %></div>
  <div class="anything" style="line-height:30px"><div class="dym" style="text-indent:2em;">
	<%= @supports.first.content.html_safe %>

	
</div>
</div>

  </div>
  </div>
  </div> 
<div class="left" align="left">
  <%= render '/shared/contact'%>

  </div>
</div>
</div>
