<div class="container" style="margin-top: 100px;">
  <div class="jumbotron">
  	<h1>Hello</h1>
    <p>Series description</p>
  </div>
</div>
<div class="container">
  <div class="row">
	<div class="col-md-8">
	  <% Product.where(series_id: @category.series).each do |p| %>
	  <div class="row">
	  	<div class="col-md-5">
	  	  <%= image_tag p.image.url(:medium) %>
	  	</div>
	    <div class="col-md-7"><%= p.description %></div>
	  </div>
	  <% end %>	
	</div>
	<div class="col-md-4">
	  <h4>Contact Us</h4>
	</div>
  </div>

</div>