<div align="center">
  <div class="main">
    <div class="all">
      <div class="right" style="width:730px;">
        <div class="articles" style="width:708px;float:left;height:auto;overflow:hidden;margin:0px;padding:3px 10px 0px 10px;border-left:#E4E4E4 solid 1px;">
          <div class="node">
            <div class="name">Home » Products</div>
          </div>
          <div class="content" style="width:718px;float:left;margin:0px;height:auto;overflow:hidden;padding:0px;">
            <div class="guo_content">
          	  <% @products.each do |p| %>
			    <div class="guo_block" align="left">	
		        <table width="680" border="0" cellspacing="0" cellpadding="0">
	              <tbody>
		            <tr>
	          		  <td width="210">
					    <%= link_to image_tag(p.image.url, :class => 'guo_img'), product_path(p) %>
	          		  </td>
	          		  <td valign="top">
		        		<ul class="guo_blist">
	              		    <h3><%= p.title %></h3>
	              			<p><%= p.description %><p> 
				  			<h3><span><%= link_to 'MORE >>', product_path(p) %></span></h3>   																		
		        		</ul>
		      		  </td>
	       			</tr>
	     		  </tbody>
	    		</table>
	  		  </div>
 			  <% end %>
			</div>               
   		  </div>
  		</div>
  	  </div> 
	 <div class="left" align="left">
  	   <div class="prolist">
         <div class="node">
           <div class="name"></div>
         </div>
         <div class="nav">
	     </div>
       </div>
  <div class="prolist" style=" border:1px solid #e9e9e9;">
 <div class="nav" style="margin:10px">
	 <div class="name" style="color:#FF9900; font-size:16px">Categories</div>
<a href="/product.php?sort=13"> Extension Board</a><br><a href="/product.php?sort=3"> Evaluation kits</a><br><a href="/product.php?sort=6"> Computer In Package</a><br><div style="height:10px"></div>
    </div>
  </div>
    <div class="prolist" style=" border:1px solid #e9e9e9;margin-top:20px">
 <div class="nav" style="margin:10px">
	 <div class="name" style="color:#FF9900; font-size:16px">Contact Us</div>
<p>Shanghai TianyeIT CO, LTD</p>
<p>Tel: +86-21-60445500 </p>
<p>E-Mail:   sales@tianyeit.com </p>
<p>Online Skype: nandcon /   dtt015 </p>
<p>Addr: No.200, East of Guoding   Road, Shanghai </p>
<div style="height:10px"></div>
    </div>
  </div>
  <div class="prolist">

  </div>
</div>

  </div>
</div>
</div>
