<div align="center">
  <div class="main">
  <div class="all">
 <div class="right">
      <div class="articles" style="font-weight:200;">
        <div class="node">
          <div class="name">Home » <%= @product.title %> </div>
      </div>
      <div class="content">
        <div class="title"><%= @product.title %><br><br></div>

        <div align="center">&nbsp;<br>
		  <%= image_tag @product.image.url %>
	   </div>
      <div class="anything">
		<!-- configuration -->
      </div>
      
      </div>
      </div>
       <div>&nbsp;</div>
  </div> 
<div class="left" align="left">
  <div class="prolist">
    <div class="node">
      <div class="name"></div>
    </div>
    <div class="nav">
	
</div>
  </div>
  <div class="prolist" style=" border:1px solid #e9e9e9;">
 <div class="nav" style="margin:10px">
	 <div class="name" style="color:#FF9900; font-size:16px">Categories</div>
<a href="/product.php?sort=13"> Extension Board</a><br><a href="/product.php?sort=3"> Evaluation kits</a><br><a href="/product.php?sort=6"> Computer In Package</a><br><div style="height:10px"></div>
    </div>
  </div>
    <div class="prolist" style=" border:1px solid #e9e9e9;margin-top:20px">
 <div class="nav" style="margin:10px">
	 <div class="name" style="color:#FF9900; font-size:16px">Contact Us</div>
<p>Shanghai TianyeIT CO, LTD</p>
<p>Tel: +86-21-60445500 </p>
<p>E-Mail:   sales@tianyeit.com </p>
<p>Online Skype: nandcon /   dtt015 </p>
<p>Addr: No.200, East of Guoding   Road, Shanghai </p>
<div style="height:10px"></div>
    </div>
  </div>
  <div class="prolist">

  </div>
</div>

  </div>
</div>
</div>